.gitignore
# Ignore .env files
*.env

# Ignore __pycache__ directories
__pycache__/

# Ignore Jupyter Notebook checkpoint files
.ipynb_checkpoints/

# Ignore .ipynb files (if you don't want them in version control)
*.ipynb
setup_files.egg-info/
setup.py
test.py